.Footer {
  /* position:absolute; */
  left: 0;
  bottom: 0;
  right: 0;
  height: 30%;
  margin-top: -6 !important;
  background-color: red;
  color: black;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 1rem;
  display: grid;
}
.footer-he {
  background-color: red;
  color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
}
