.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: white;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.login_form {
  display: flex;
  flex-direction: column;
}

.login_form > h1 {
  font-size: 35px;
  color: red;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}
.login_form > input {
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid black;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 2px;
  font-size: 15px;
}

.login_btn {
  padding: 17px 30px;
  margin-top: 10px;
  background: red;
  border: none;
  color: white;
  font-size: 30px;
  border-radius: 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
