.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #e4e4e1;
  background-image: radial-gradient(
      at top center,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(143, 152, 157, 0.6) 100%
    );
  background-blend-mode: normal, multiply;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.formSection {
  display: flex;
  height: 70vh;
  width: 80vh;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;
}

.label-client {
  margin-top: 1%;
  color: black;
  font-family: ;
}
.form-input {
  width: auto;
  margin-top: 2px;
  padding: 8px;
  font-size: 12px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description {
  margin-top: 1%;
  width: 50vh;
}
.btn-portfolio {
  width: 80vh;
  height: 8vh;
  background-color: black;
  color: white;
  font-size: 10px;
}
